body{
    background: #3F3F3E url("media/background.jpg");
}

h1{
    font-variant: small-caps;
    color: white;
    font-family: "Century Gothic", sans-serif;
    font-size: 30px;
    padding: 10px;
    background-color: #FF5454;
    margin:0px;
    width: 100%;
}

h3{
    text-align: center;
    padding: 10px;

    color: white;
    font-family: "Century Gothic", sans-serif;
    font-size: 30px;
}

button{
    padding: 20px 0px 20px 0px;
    font-family: "Century Gothic", sans-serif;
    font-size: 25px;
    color: black;
    background-color: white;
    border: 0px;
    border-radius: 3px;
    width: 500px;
    margin: 10px;
}

#buttons{
    margin: 20px auto;
    width: 656px;
    text-align: center;
}
button:hover {
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

