@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
body{
    background: #3F3F3E url("media/background.jpg");
}
#Header{
    font-family: "Permanent Marker", sans-serif;
}
h3{
    text-align: center;
    padding: 10px;
    color: white;
    font-family: "Century Gothic", sans-serif;
    font-size: 30px;
}

button{
    font-family: "Century Gothic", sans-serif;
    font-size: 25px;
    color: black;
    background-color: white;
    border-radius: 3px;
    width: 500px;
    margin: 10px;
}

#Buttons{
    margin: 20px auto;
    width: 656px;
    text-align: center;
}

#answer1, #answer2, #answer3, #answer4{
    border: 0px;
    padding: 20px 0 20px 0;
}

#answer1:hover, #answer2:hover, #answer3:hover, #answer4:hover{
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#score{
    float: left;
    color: white;
    font-size: 50px;
    font-family: "Century Gothic";
    margin-top: 120px;
    margin-left:150px;
}

#TimerLabel {
    float: right;
    color: white;
    font-size: 50px;
    font-family: "Century Gothic";
    margin-top: 120px;
    margin-right: 150px;
}

#logo{
    width: 40px;
    height: 40px;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF5454;
}

li {
    float: left;
    color: white;
    font-family: "Century Gothic", serif;
    font-size: 25px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#homeButton{
    float: right;
    height: 60px;
}

#homeButton:hover {
    font-weight: bold;
    background-color: #333331;
}
#home{
    width:40px;
    height:auto;
}